<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <p class="navbar-item">
            <strong>Koti</strong><span class="mx-2">-</span>{{this.router.currentRoute.params.page}}
        </p>
        
        <div class="dropdown navbar-burger is-right {{if this.showMenu "is-active"}}" {{on "click" this.toggleMenu}}>
            <a class="dropdown-trigger">

                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>

            </a>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <LinkTo @route="page" @model="Etusivu" class="dropdown-item {{if (eq this.router.currentRoute.params.page "Etusivu") "is-active"}}">
                        Etusivu
                    </LinkTo>
                    <LinkTo @route="page" @model="Lämmitys" class="dropdown-item {{if (eq this.router.currentRoute.params.page "Lämmitys") "is-active"}}">
                        Lämmitys
                    </LinkTo>
                    <LinkTo @route="page" @model="Vesipumppu" class="dropdown-item {{if (eq this.router.currentRoute.params.page "Vesipumppu") "is-active"}}">
                        Vesipumppu
                    </LinkTo>
                </div>
            </div>
        </div>
    </div>

</nav>